# Feature Selection with Random Forest, Neural Network, and Indicator Species analysis

To begin, import the Pandas library for importing data and the FeatureSelection class from ML_microbiome:

In [1]:
import pandas as pd
from RFINN import *

Import training, testing, and target data as Pandas DataFrames:

In [2]:
train_data = pd.read_csv('train_data.csv')
test_data = pd.read_csv('test_data.csv')
targets = pd.read_csv('DOC_targets.csv')

Create a Feature Selection object by calling the FeatureSelection class

In [3]:
FS = FeatureSelection(train_data, test_data, targets)

Generate a table with feature selection results by calling the FeatureSelectionTable() function:

In [4]:
FS_results = FS.FeatureSelectionTable()

1626

Display Feature Selection Results! The table is sorted by the Indicator Species stat by default.

In [6]:
FS_results.head(10)

       OTUs  RF Importance  NN Importance   IS stat IS Site Label  IS P value
74   OTU_55       0.041231      -1.000000  0.825024           Low         0.0
11   OTU_12       1.000000      -0.807502  0.806841           Low         0.0
46   OTU_24       0.086233       0.456769  0.781167          High         0.0
42   OTU_23       0.037053      -0.430413  0.776977           Low         0.0
23   OTU_16       0.019628       0.532060  0.775166          High         0.0
79    OTU_6       0.033555      -0.700338  0.771662           Low         0.0
56   OTU_30       0.007070       0.582685  0.758244          High         0.0
68  OTU_401       0.018694      -0.333661  0.757483           Low         0.0
63   OTU_38       0.012876      -0.438545  0.756098           Low         0.0
73  OTU_534       0.025440       0.708334  0.755964          High         0.0

Feature selection values determined by the neural network and random forest are scaled from 0 to 1.

Feature Selection results generally agree across methods, and correlations determined by the neural network (sign of feature importance) matches perfectly with Indicator Species site labels (Low or High) 

The feature selection table can be saved to a .csv file by calling the .to_csv() method 

FS_results.to_csv('myFeatureSelectionResults.csv')